
version: 2
jobs:
  validate:
    docker:
      - image: hashicorp/packer:1.1.1
    working_directory: ~/packer
    steps:
      - checkout
      - run:
          name: Validate Canvas AMI
          command: packer validate ./packer/canvas.json
  build-base:
    docker:
      - image: hashicorp/packer:1.1.1
    working_directory: ~/packer
    steps:
      - checkout
      - attach_workspace:
          at: ~/packer
      - run:
          name: Build Canvas AMI
          command: packer build ./packer/canvas.json
          no_output_timeout: 30m
      # - persist_to_workspace:
      #     root: .
      #     paths:
      #       - manifest-canvas.json
      # - store_artifacts:
      #     path: manifest-canvas.json
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - validate
      - build-base:
          requires:
            - validate
